.post {
    border-bottom: 1px dashed #000;
    padding: 2em 0;
}

hr {
    grid-column: -1 / -2;
    width: 100%;
    margin: 2em 0;
}

.figure-group {
    grid-column: -1 / -2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    font: .85em/1.5 'Tahoma', 'Helvetica', sans-serif;
    max-height: 70vh;
    padding: 2em 0;
} 

.figure-group figure {
    margin: 0;
    padding: 0;
    max-width: 33%;
}

@supports(display: grid) {
    .figure-group figure {
        max-width: initial;
    }
}

.figure-group figcaption {
    display: block;
}

.column-group p:first-of-type {
    margin-top: 0;
}

@media(min-width: 640px) and (min-height: 640px) {
    .post {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 3em;
    }

    .column-group {
        column-width: 250px;
        grid-column: -1 / -2;
        max-height: 70vh;
        gap: 3em;
    }

    hr {
        margin: 0;
    }
}


body {
    font: 1em/1.5 'Tahoma', 'Helvetica', sans-serif;
    margin: 1em;
}

h1, h2 {
    font-weight: normal;
    margin: 0;
}

img {
    max-width: 100%;
}

main {
    padding: 5em 0;
    max-width: 75em;
}

#logo {
    margin: 0 auto;
    max-width: 20em;
    transform: rotate(-10deg);
}

#logo a {
    color: green;
    font: 400 4em/.75 'Kalam', sans-serif;
    text-decoration: none;
}

#logo a span {
    display: block;
}

#logo a span:nth-of-type(2) {
    float: right;
    font-weight: 700;
}

@media(min-width: 40em) {
    /*body {
        display: grid;
        gap: 2em;
        grid-template: auto / auto 1fr;
        grid-gap: 2em;
        justify-content: start;
    } */

    /*figure {
        float: right;
        max-width: 30em;
    }*/

    main {
        padding: 1em 0;
    }

    p {
        max-width: 45em;
    }

    /* #logo {
        text-align: right;
    }

    @supports(display: grid) and (writing-mode: vertical-rl) {
        #logo {
            margin: 0;
            transform: rotate(180deg);
            writing-mode: vertical-rl;
        }
    }

    #logo a span {
        display: inline;
    }

    #logo a span:nth-of-type(2) {
        float: none;
    } */
}